<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="ltd.egoist"/>
    <mvc:annotation-driven/>
    <!--    将静态资源交给defaultServlet处理-->
    <mvc:default-servlet-handler/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/hello"/>
<!--            &lt;!&ndash;排除某些请求&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/hello/sayHaha.do"/>-->
            <bean id="interceptor2" class="ltd.egoist.interceptor.CheckNameInterceptor">	</bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/><!--前缀-->
        <property name="suffix" value=".jsp"/><!--后缀-->
    </bean>
</beans>